<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="style.css" type="text/css" rel="stylesheet">
<link rel="icon" 
      type="image/ico" 
            href="/target.ico" />

<title>Welcome to TSBackup</title>
</head>
<body><div class="transbox">
        <h1 class="title">Welcome to TSBackup</h1>   

        <p class="sans-big"><strong>Today's recycle date is <!--#include virtual="/cgi-bin/recycle.cgi" --></strong> </p>
   <dl>
        <dt class="sans">Training Material</a></dt>
        <dd class="sans">Useful reference and other training materials for new tech support interns.<br />
            <dl>
                <dt class=sans"><a href="command-line.pdf">Introduction to the Command Line</a> (PDF)</dt> 
                <dd class="sans">A Free manual published by <a href="http://flossmanuals.net/">flossmanuals.net</a>. It is also available online, in HTML format at<br /> <a href="http://flossmanuals.net/command-line/">http://flossmanuals.net/command-line</a></dd>
            </dl>
            </dd>
        <dt class="sans"><a href="/upgrade-ubuntu.sh">upgrade-ubuntu.sh</a></dt>
        <dd class="sans">Use this to upgrade form 10.04 to 12.04. <br>N.B. 
        This script performs a backup, so you should not do one first as it will complain. You can force it to overwrite it with the -f option. 
        <p>Steps to upgrade the script. 
        <strong> Note the following carefully:</strong>
        </p>
        <ol>
            <li>Run the script, carefully noting any instructions given</li>
            <li><strong>When prompted to reboot. DO NOT REBOOT</strong></li>
            <li>Press x, then type reboot on the command line.</li>
            <li> Rerun the script a second time to finish the process</li>
        </ol>
            </dd>
 
        <dt class="sans"><a href="/whoopsie-disable.sh">whoopise-disable.sh</a></dt>
            <dd class="sans">A small shell script that will disable the annoying crash reports on 12.04</dd>
        <dt class="sans"><a href="/tstools.tar.gz">Tech Support Tools</a></dt>
            <dd class="sans">This is a tarball that uncompresses to a directory containing a bunch of usefull shell scripts for tech support purposes. The main ones of interest are <code>ts_network_backup</code> which automates the network backup process and <code>ts_identify_backups</code> which is used in conjunction with it (given a ticket number it will identify the directory it was backed up to.<br />
            The <a href="/tstools.tar.gz">latest version</a> can always be found at: <br /> <a href="/tstools.tar.gz">http://tsbackup/tstools.tar.gz</a>.<br />

            The current version is <a href="/tstools.0.1.13.tar.gz">tstools.0.1.13.tar.gz</a>.<br />

            Eventually it will be come a deb that be installed via apt-get form the freegeek archives. <strong>N.B. This is still beta quality, bugs may be present</strong> though it is definitely usable. Bug reports are welcome via email to bugs@todo.freegeek.org (or the bugs queue in RT). Please include any output/error messages and the version you were using, thank you.<br />
            <strong>History</strong><br />
            <dl class="flat">
            <dt class="flat"><a href="/tstools.0.1.13.tar.gz">tstools.0.1.13</a></dt>
            <dd class="flat">&laquo;Lucky Thirteen&raquo;<br />
            <del><a href ="http://todo.freegeek.org/Ticket/Display.html?id=34487">#34487</a></del> <del><a href="http://todo.freegeek.org/Ticket/Display.html?id=32908">#32908</a></del> Hopefully fixed the bug which prevented backups when there was a space in the directory name (for reals this time).<br>
            Added a long list of temporary files that will be excluded from backups.<br>
            Fixed a bug with adding an addendum that left off the ticket number. (Also closing <del><a href="http://todo.freegeek.org/Ticket/Display.html?id=33225">#33225</a></del>) <br>
            
            Added a -R option for read only file systems e.g. dd images.
            </dd>
            <dt class="flat"><a href="/tstools.0.1.12.tar.gz">tstools.0.1.12</a></dt>
            <dd class="flat">Bug Fixes:<br />
            Fixed #33225 which prevented the -t option from working correctly.
            </dd>
 
            <dl class="flat">
            <dt class="flat"><a href="/tstools.0.1.11.tar.gz">tstools.0.1.11</a></dt>
            <dd class="flat">Bug Fixes:<br />
            32902 ts_network_backup failed w/ requesting -p option<br />
            32599 rm: cannot remove `=/home/gshadow': No such file or directory</br>
            32823 usermod: group ' ' does not existi</br>
            #32908: check_dir_read fails if there are spaces in path
            </dd>
            <dt class="flat"><a href="/tstools.0.1.10.tar.gz">tstools.0.1.10</a></dt>
                <dd class="flat">Fixed bug in user restoration process.</dd>

            <dt class="flat"><a href="/tstools.0.1.9.tar.gz">tstools.0.1.9</a></dt>
                <dd class="flat">Fixed bug preventing proper cleanup.</dd>

                <dt class="flat"><a href="/tstools.0.1.8.tar.gz">tstools.0.1.8</a></dt>         
                <dd class="flat">Added fix for issue where creating users with uid 1000 who were not oem failed.</dd>
                <dt class="flat"><a href="/tstools.0.1.7.tar.gz">tstools.0.1.7</a></dt>
                <dd class="flat">Tidied up help for many tools. Added README. Bugfixes.</dd>
                <dt class="flat">tstools.0.1.6</dt>
                <dd class="flat">Initial Release</dd>
            </dl>
        </dd>
        <dt class="sans"><a href="/ampache">Music...</a></dt>
            <dd class="sans">Access Ampache -- a web based music player and play music in Tech Support (assuming tsbackup is plugged into the speakers).</dd>
        <dt class="sans"><a href="/flash-fix">Flash fix</a></dt>
            <dd class="sans">A small shell script that &ldquo;fixes&rdquo; issues with Adobe Flash and AMD CPU's. This isn't really a fix, more of an ugly workaround and will often break on updates. The issue is an upstream bug introduced by Adobe who apparently don't know how to use a compiler properly and show no sign of fixing it any time soon.</dd>
    </dl>

    <p class="sans-small">background image:<br /><a href="https://secure.flickr.com/photos/45072502@N02/4317288312/">Royal Bluebells - Charlotte Pass</a>, Peter Kent, Flickr. <a href="http://creativecommons.org/licenses/by-nc/2.0/deed.en_GB">Some rights reserved</a>.</p>
</div>
</body>
</html>
